* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  header {
    background-color: rgba(241, 231, 86, 0.801);
    padding: 10px;
    width: 100%;
  }
  
  header h1 {
    margin-left: 20px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba;
  }
  
  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
    margin-right: 40px;
  }
  
  header ul li {
    text-align: none;
  }
  
  footer {
    margin-left: 10px;
    width:100%;
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  div {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 10px;
    text-align: center;
  }
  
  div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  div h5 {
    margin-bottom: 5px;
  }