*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header h1 {
    margin-left: 20px;
}
header nav {
    display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: blue;
    }

    header ul  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        gap: 20px;
        margin-right: 40px;
   
    }
 header ul li {
    text-align: none;
 }
footer {
    margin-left: 10px;
}